extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main

    .container.my-3
        .row
            .col-12
                +box-head("Chat")

        .row 
            .col-12 
                .chat 
                    .inner-body 
                        .inner-incoming 
                            .inner-name Em Yêu 
                            .inner-content 
                                | A ơi sang .....
                        .inner-outgoing 
                            .inner-content 
                                | Thế à ? ...
                    .inner-foot 
                        form(
                            class="inner-form"
                        )
                            input(
                                type="text"
                                placeholder= "Nhập nội dung..."
                                name="content"
                            )
                            button 
                                i.fa-solid.fa-paper-plane
                    