doctype html
html
    head   
        title #{title}

        //- Nhúng link boostrap4
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
        //- Nhúng link css
        link(rel="stylesheet", href="/css/style.css")
    body 
        include ../partials/header.pug

        block main

        include ../partials/footer.pug
        //- Nhúng link js
        script(src="/js/script.js") 
        //- Nhúng link bootstrap js
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js") 

        //- SocketIO
        script(src="/socket.io/socket.io.js")
        script(src="/js/chat.js")

